h1{
    text-align: center;
    margin-bottom: 10px;
    border: 3px solid black;
}
h6{
    text-align: center;
    margin-top: 3px;
}
body{
    background-color:rgb(245, 245, 245);
}
.input{
    position: relative;
    margin: 25px;
    height: 25px;
    width: 200px;
}
div{
    height: 300px;
    border: 3px solid black;
    padding-left: 250px;
    padding-top: 20px;
}
#submit{
    text-align: center;
    position: relative;
    left: 450px;
    margin-top: 10px;
}